# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Databases
*.db
*.sqlite3
postgres_data.tgz
midpoint_home.tgz

# Archives
*.tgz
*.tar.gz
*.zip

# Personal documents
*.pdf
midpoint-resources/var/
infrastructure/midpoint/var/
